<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <!--log4net-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CameraControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>

    <!--com口-->
    <add key="comType" value="com4" />

    <!--摄像头上下左右旋转-->
    <add key="round_up" value="81 01 06 01 17 13 03 01 FF" />
    <add key="round_down" value="81 01 06 01 17 13 03 02 FF" />
    <add key="round_left" value="81 01 06 01 17 13 01 03 FF" />
    <add key="round_right" value="81 01 06 01 17 13 02 03 FF" />
    <!--停止旋转-->
    <add key="switch_stop" value="81 01 06 01 03 03 03 03 FF" />

    <add key="round_upleft" value="81 01 06 01 17 13 01 01 FF" />
    <add key="round_upright" value="81 01 06 01 17 13 02 01 FF" />
    <add key="round_downleft" value="81 01 06 01 17 13 01 02 FF" />
    <add key="round_downright" value="81 01 06 01 17 13 02 02 FF" />
    <!--停止对角旋转-->
    <add key="switch_corner_stop" value="81 01 06 01 03 03 03 03 FF" />
    
    <!--<add key="bianbei_add" value="01 00 20 00 00 21 00" />
    <add key="bianbei_reduce" value="FF 01 00 40 00 00 41 00" />
    -->
    <!--摄像头光圈-->
    <!--
    <add key="guangquan_add" value="FF 01 02 00 00 00 03 00" />
    <add key="guangquan_reduce" value="01 04 00 00 00 05 00" />-->

    <!--摄像头焦距-->
    <add key="jiaoju_add1" value="81 01 04 38 02 FF" />
    <add key="jiaoju_add2" value="81 01 04 07 27 FF" />
   

    <add key="jiaoju_reduce1" value="81 01 04 38 02 FF" />
    <add key="jiaoju_reduce2" value="81 01 04 07 37 FF" />  
    
     <add key="jiaoju_stop" value="81 01 04 07 00 FF" />
    
    <!--开关-->
    <add key="switch_On" value="81 01 04 00 02 FF" />
    <add key="switch_Off" value="81 01 04 00 03 FF" />


  </appSettings>

  <!--log4写日志-->
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <connectionStrings />
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--
            通过 <authentication> 节，可配置 
      ASP.NET 用于识别进入用户的 
      安全身份验证模式。
    -->
    <authentication mode="Windows" />
    <!--
            通过 <customErrors> 节，可以配置
       在执行请求的过程中出现未处理的错误时要执行 
       的操作。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
                <clear />
                <add value="CameraControl.html" />
                <add value="TouchTest.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX 
        所必需的。对于早期版本的 IIS，不必保留此节。
  -->
</configuration>